﻿@model IEnumerable<Food.Data.Models.Restaurant>
@*@model food.web.models.homeviewmodel*@

@{
    // ViewData["Title"] = "Home Page";
    ViewBag.Title = "Home";
}

<div >
    @*<h1 class="display-4">@DateTime.Now.Year</h1>*@
    <h1>We have @Model.Count() restaurants.</h1>
   @* <ul>
        @foreach (var r in Model)
        {
            <li>@r.Name</li>
        }
    </ul>*@
</div>
